/**
 * Global
 */

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: normal 1.2rem/1.5 'space_monoregular', sans-serif;
  padding: 1.5rem 0;

  @include mq($from: tablet) {
    padding: 3rem 1.5rem;
  }

  @include mq($from: desktop) {
    padding: 4rem 2.5rem;
  }
}

.container-fluid {
  max-width: 1440px;
  @include mq($from: xxl) {
      max-width: none;
  }
}

// Fix sidebar

.fixed {
  @include mq($from: tablet) {
    position: fixed;
  }

  @include mq($from: xl) {
    width: calc((100% - (100% - 1440px)) * .25)
  }
}

main {
  @include mq($from: tablet) {
    margin-left: calc(33.3333333333% + 15px);
  }
  @include mq($from: desktop) {
    margin-left: calc(25% + 15px);
  }
  @include mq($from: xl) {
    margin-left: 25%;
  }
}

.single-wrap {
  padding-top: 1.333333333333333em;
  @include border();
}

.loading {
  text-align: right;
  transition: all .3s cubic-bezier(.5,.9,0,1);
  opacity: 1;
  &--end {
    opacity: 0;
    display: none;
  }

  &__dot {
    $dotSize: .6rem;
    display: inline-block;
    width: $dotSize;
    height: $dotSize;
    margin: 0 $dotSize;
    background: #666;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 .2rem #ccc;
    animation: loadingFade 1s infinite;
  }

  @for $i from 1 through 4 {
    &__dot:nth-child(#{$i}) {
      animation-delay: calc(#{$i}s / 5);
    }
  }
}

@keyframes loadingFade {
  0% { opacity: 0; }
  50% { opacity: 0.8; }
  100% { opacity: 0; }
}
