/**
 * Profile
 */

.profile {
  @include triggerTarget();
  max-height: 0;
  &[aria-expanded="true"] {
    margin: 0 0 1.5rem;
  }

  img {
    width: 100%;
    max-width: 15rem;
    height: auto;
  }
}

.profile__desc {
  margin-top: 1rem;
}
