/**
 * Variables
 */

$color-main : #000;
$color-second : #666;

$anim : .25s ease-in-out;

$slider-dot-color: #D8D8D8;
$slider-dot-color-active: #666666;
$slider-dot-size: 3rem;
$slider-dot-character: "\2022";
$slider-opacity-default: 1;
$slider-opacity-on-hover: 1;
$slider-opacity-not-active: 1;
